body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  font-family: sans-serif;
  background-image: url("./cool.gif");
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 330px;
  height: 310px;
  list-style: none;
  margin-top: 200px;
  padding: 0;
  border: 2px solid black;
  background-color: pink;
}

.row {
  grid-row: auto;
}

.tile {
  grid-column: auto;
  width: 30px;
  height: 30px;
  margin: auto;
  padding-top: 2px;
  border: 1px solid gray;
  cursor: pointer;
}

.bombed {
  background-image: url("./bomb.jpg");
  display: block; /* remove extra space below image */
  height: 30px;
  width: 30px;
}

.form {
  margin: auto;
}

.form p {
  font-size: 2rem;
}

.restart {
  border: 2px solid pink;
  color: purple;
  background-color: white;
  border-radius: 10px;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

.modal-form {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  height: 33%;
  width: 50%;
  left: 0;
  right: 0;
  text-align: center;
  background-color: salmon;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  color: aliceblue;
  border: 2px solid pink;
}

.is-open {
  display: block;
}

#solbass {
  padding-top: 50px;
  color: white;
}
